<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.7" targetFramework="net471" />
  <package id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.OData.Client" version="6.19.0" targetFramework="net471" />
  <package id="Sitecore.Commerce.Connect.Core" version="14.0.27" targetFramework="net471" />
  <package id="Sitecore.Commerce.Engine.Connect" version="5.0.55" targetFramework="net471" />
  <package id="Sitecore.Commerce.XA.Foundation.Common" version="4.0.120" targetFramework="net471" />
  <package id="Sitecore.Commerce.XA.Foundation.Connect" version="4.0.120" targetFramework="net471" />
  <package id="Sitecore.Kernel" version="9.3.0" targetFramework="net471" />
</packages>