<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <services>
      <register
        serviceType="Sitecore.Commerce.XA.Feature.Catalog.Repositories.IProductListRepository, Sitecore.Commerce.XA.Feature.Catalog"
        set:implementationType="Ajsuth.Feature.Customers.Website.Repositories.ProductListRepository, Ajsuth.Feature.Customers.Website" />
    </services>
  </sitecore>
</configuration>
